html, body {
    background-color: #252930;
  }

  .Titre {
    text-align: center;
    padding-top: 20px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: underline;
  }
  

  img{
    margin-left: 5%;
    width: 20%;
    border-radius: 0px;
    padding-bottom: 100%;
    display: block;
    position: absolute; top: -25px; left: -150px;

  }

  p{
    text-align: center;
    color: white;
    font-size: 150%;
    
    
  }
  
